## Review of DataFrame

We have learnt Pandas Series and DataFrame so far and based on what you have seen and understand about Series, DataFrame, and their various attribute or methods

1. Create a DataFrame using the sample of dataset from the National Flower of Ethiopia (This was adapted from Iris data)

<img src='flower.jpg' alt = "Source: International Trade Center (ITR)" style="width:500; height:300"/>    


The data is shown below:

<img src='flower1.jpg' alt = "Source: International Trade Center (ITR)" style="width:700; height:400"/>

2. How many rows and columns are in the dataset?

3. How many series are in the DataFrame?

4. Rename `species` variable to `flower_categories`

5. Add `sepal_length` and `sepal_width` together and call the resulting series `sepal_length_width`

6. Drop the column `petal_width` from the DataFrame

7. From 6, select a DataFrame where `sepal_length` is greater than $5.5$ and name it `perfect_data`

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Question 1
# Create a DataFrame using the sample of dataset from the National Flower of Ethiopia (This was adapted from Iris data)

NFE_dict = {'sepal_length':[5.1,5,5.4,5.5,6.5,6.7,7.2,6.2], 
            'sepal_width':[3.5,3.6,3.9,2.3,2.8,3.3,3.2,2.8],
            'petal_length':[1.4,1.4,1.7,4,4.6,5.7,6,4.8],
            'petal_width':[0.2,0.2,0.4,1.3,1.5,2.1,1.8,1.8],
            'species':['Rose','Rose','Rose', 'Lily', 'Lily', 'Carnation', 'Carnation', 'Carnation']}

In [3]:
NFE_df = pd.DataFrame(NFE_dict)
NFE_df

   sepal_length  sepal_width  petal_length  petal_width    species
0           5.1          3.5           1.4          0.2       Rose
1           5.0          3.6           1.4          0.2       Rose
2           5.4          3.9           1.7          0.4       Rose
3           5.5          2.3           4.0          1.3       Lily
4           6.5          2.8           4.6          1.5       Lily
5           6.7          3.3           5.7          2.1  Carnation
6           7.2          3.2           6.0          1.8  Carnation
7           6.2          2.8           4.8          1.8  Carnation

In [4]:
# Question 2
#How many rows and columns are in the dataset?
NFE_df.shape
#Answer is 8 rows and 5 column

(8, 5)

In [5]:
# Question 3
#How many series are in the DataFrame?
NFE_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
# Question 4
#Rename species variable to flower_categories
NFE_df.rename(columns={'species': 'flower_categories'}, inplace=True)
NFE_df

   sepal_length  sepal_width  petal_length  petal_width flower_categories
0           5.1          3.5           1.4          0.2              Rose
1           5.0          3.6           1.4          0.2              Rose
2           5.4          3.9           1.7          0.4              Rose
3           5.5          2.3           4.0          1.3              Lily
4           6.5          2.8           4.6          1.5              Lily
5           6.7          3.3           5.7          2.1         Carnation
6           7.2          3.2           6.0          1.8         Carnation
7           6.2          2.8           4.8          1.8         Carnation

In [7]:
# Question 5
# Add sepal_length and sepal_width together and call the resulting series sepal_length_width
NFE_df['sepal_length_width'] = NFE_df['sepal_length'] + NFE_df['sepal_width']
NFE_df

,sepal_length,sepal_width,petal_length,petal_width,flower_categories,sepal_length_width
0,5.1,3.5,1.4,0.2,Rose,8.6
1,5.0,3.6,1.4,0.2,Rose,8.6
2,5.4,3.9,1.7,0.4,Rose,9.3
3,5.5,2.3,4.0,1.3,Lily,7.8
4,6.5,2.8,4.6,1.5,Lily,9.3
5,6.7,3.3,5.7,2.1,Carnation,10.0
6,7.2,3.2,6.0,1.8,Carnation,10.4
7,6.2,2.8,4.8,1.8,Carnation,9.0

In [8]:
# Question 6
# Drop the column petal_width from the DataFrame
NFE_df.drop(columns='petal_width', inplace=True)
NFE_df

,sepal_length,sepal_width,petal_length,flower_categories,sepal_length_width
0,5.1,3.5,1.4,Rose,8.6
1,5.0,3.6,1.4,Rose,8.6
2,5.4,3.9,1.7,Rose,9.3
3,5.5,2.3,4.0,Lily,7.8
4,6.5,2.8,4.6,Lily,9.3
5,6.7,3.3,5.7,Carnation,10.0
6,7.2,3.2,6.0,Carnation,10.4
7,6.2,2.8,4.8,Carnation,9.0

In [9]:
# Question 7
#From 6, select a DataFrame where sepal_length is greater than and name it perfect_data
perfect_data=NFE_df[NFE_df['sepal_length'] > 5.5]

In [10]:
perfect_data

,sepal_length,sepal_width,petal_length,flower_categories,sepal_length_width
4,6.5,2.8,4.6,Lily,9.3
5,6.7,3.3,5.7,Carnation,10.0
6,7.2,3.2,6.0,Carnation,10.4
7,6.2,2.8,4.8,Carnation,9.0